.navbar-nav > li > a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  line-height: 20px !important;
}
.about , .contact{
  color: lightgray;
} 
.bi-arrow-right{
  margin-top: -15px;
}
.about-us{
  background: rgb(224, 217, 217);
  padding: 25px;
}
.nav-item a:hover{
  color: black !important;
}
.writter h5{
  margin-top: -10px;
  font-size: 30px;
}
.about-me:hover{
  background: black;
  color: white;
  padding: 20px;
  opacity: 0.7;
}
form{
  padding: 40px;
}
.submit{
  background: black;
  height: 40px;
  margin-bottom: -110px!important;
}
.foooter{
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  background: #cec9c9;
}
.icon-links .bi-arrow-right{
  margin-top: 17px;
}