.navbar-nav > li > a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  line-height: 20px !important;
}
.about , .contact{
  color: lightgray;
}
.arrow{
  width: 80px;
}
.btn{
  padding: 10px 25px;
  background: #fff;
  font-size: 15px;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 8px;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.btn:hover{
  background: black;
  color: white!important;
  opacity: 0.8;
}
.foooter{
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  background: #cec9c9;
}
.icon-links .bi-arrow-right{
  margin-top: 17px;
}